body {
    background-color: blueviolet;
}
h1 {
    background-color: aqua;
    color: brown;
}
.p1 {
    background-color:gray;
    color: aqua;
}
h2 {
    background-color: green;
    color: blue;
}
.p2 {
    background-color: azure;
    color: green;
}
li {
    background-color: brown;
    color: blue;
}