body {
    background-color: blueviolet;
}
h1 {
    background-color: aqua;
}
.p1 {
    background-color:gray;
}
h2 {
    background-color: green;
}
.p2 {
    background-color: azure;
}
li {
    background-color: brown;
}